#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
from sqlalchemy import create_engine
import pymysql

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats)

In [3]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats')

#### 4. Import the users table

In [4]:
user_data = pd.read_sql_query("SELECT * FROM stats.users", engine)

#### 5. Rename Id column to userId

In [5]:
user_data.rename(columns = {"Id": "userId"}, inplace = True)

#### 6. Import the posts table.

In [6]:
posts_data = pd.read_sql_query("SELECT * FROM stats.posts", engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [7]:
posts_data.rename(columns = {"Id": "postId", "OwnerUserId": "userId"}, inplace = True)

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [8]:
users_df = user_data[["userId", "Reputation", "Views", "UpVotes", "DownVotes"]]
users_df.head()

posts_df = posts_data[["postId", "Score", "userId", "ViewCount", "CommentCount"]]
posts_df.head()

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [12]:
merged_df = users_df.merge(posts_df, on='userId')
merged_df.head(10)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
5,-1,1,0,5007,1920,9857,0,NaN,0
6,-1,1,0,5007,1920,9858,0,NaN,0
7,-1,1,0,5007,1920,9860,0,NaN,0
8,-1,1,0,5007,1920,10130,0,NaN,0
9,-1,1,0,5007,1920,10131,0,NaN,0

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [13]:
null_cols = merged_df.isnull().sum()
null_cols[null_cols > 0]

ViewCount    48396
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [14]:
# I will fill in the values with 0 because the data seems important.

merged_df[['ViewCount']] = merged_df[["ViewCount"]].fillna(0)

merged_df.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0.0,0
1,-1,1,0,5007,1920,8576,0,0.0,0
2,-1,1,0,5007,1920,8578,0,0.0,0
3,-1,1,0,5007,1920,8981,0,0.0,0
4,-1,1,0,5007,1920,8982,0,0.0,0

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [20]:
merged_df = merged_df.astype({"ViewCount": "int64"})

merged_df.head()

merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 0 to 90583
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userId        90584 non-null  int64
 1   Reputation    90584 non-null  int64
 2   Views         90584 non-null  int64
 3   UpVotes       90584 non-null  int64
 4   DownVotes     90584 non-null  int64
 5   postId        90584 non-null  int64
 6   Score         90584 non-null  int64
 7   ViewCount     90584 non-null  int64
 8   CommentCount  90584 non-null  int64
dtypes: int64(9)
memory usage: 6.9 MB

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [26]:
normal_values = merged_df.describe().transpose()
normal_values['IQR'] = normal_values['75%'] - normal_values['25%']
normal_values.head()

,count,mean,std,min,25%,50%,75%,max,IQR
userId,90584.0,16546.764727,15273.367108,-1.0,3437.0,11032.0,27700.00,55746.0,24263.00
Reputation,90584.0,6282.395412,15102.268670,1.0,60.0,396.0,4460.00,87393.0,4400.00
Views,90584.0,1034.245176,2880.074012,0.0,5.0,45.0,514.25,20932.0,509.25
UpVotes,90584.0,734.315718,2050.869327,0.0,1.0,22.0,283.00,11442.0,282.00
DownVotes,90584.0,33.273249,134.936435,0.0,0.0,0.0,8.00,1920.0,8.00

In [34]:
outliers = pd.DataFrame(columns = merged_df.columns)

outliers.head()

for col in normal_values.index:
    print(col)
    iqr = normal_values.at[col,'IQR']
    corte = iqr * 1.5
    lower = normal_values.at[col,'25%'] - corte
    upper = normal_values.at[col,'75%'] + corte
    results = merged_df[(merged_df[col] < lower) | 
                   (merged_df[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)
    
outliers.head()

userId
Reputation
Views
UpVotes
DownVotes
postId
Score
ViewCount
CommentCount

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount,Outlier
1155,88,14082,3320,4235,126,74,25,0,0,Reputation
1156,88,14082,3320,4235,126,94,5,0,0,Reputation
1157,88,14082,3320,4235,126,99,7,0,1,Reputation
1158,88,14082,3320,4235,126,119,6,0,3,Reputation
1159,88,14082,3320,4235,126,140,7,0,0,Reputation

In [35]:
outliers.to_csv('outliers.csv')